<div class="conainer-fluid" ng-controller="actividadController">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>
                        Lista de Actividad del D&iacute;a
                    </h4>
                </div>
                <div class="panel-body">
                    
                </div>
                <div class="panel-footer">
                    Footer
                </div>
            </div>
        </div>
    </div>
</div>