<!-- Formulario: Listar -->
    <div ng-show="formularios.listar.display" class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title text-capitalize">
                        FORMULARIO / Comision / Autoridades / Lista
                    </h4>
                </div>
                <div class="panel-body">
                    <button ng-click="formularios.listar.volver()" class="btn btn-primary">
                        <i class="glyphicon glyphicon-circle-arrow-left"></i>
                        Volver
                    </button>
                    <button ng-click="formularios.listar.nuevo()" class="btn btn-success">
                        <i class="glyphicon glyphicon-plus"></i>
                        Autoridad
                    </button>
                    <table class="table table-striped table-hover table-bordered table-responsive text-center">
                        <tr>
                            <td><strong>ID</strong></td>
                            <td><strong>AUTORIDAD</strong></td>
                            <td><strong>DIPUTADO</strong></td>
                            <td><strong>ESTADO</strong></td>
                            <td style="width:150px;"><strong>ACCIONES</strong></td>
                        </tr>
                        <tr ng-repeat="(k,l) in lista">
                            <td>{{l.id}}</td>
                            <td>{{l.autoridad}}</td>
                            <td>{{l.diputado.apellido}} {{l.diputado.nombre}}</td>
                            <td>{{l.estado}}</td>
                            <td>
                                <button ng-click="formularios.listar.activar(k)" class="btn btn-primary btn-xs" type="button">
                                    <i class="glyphicon glyphicon-random"></i>
                                </button>
                                <button ng-click="formularios.listar.eliminar(k)" class="btn btn-danger btn-xs" type="button">
                                    <i class="glyphicon glyphicon-minus"></i>
                                </button>
                            </td>
                        </tr>
                    </table>                    
                </div>

                
                <div class="panel-footer">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>